html, body, #root {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}
.leaflet-container {
  height: 100%;
  width: 100%;
}
button {
  cursor: pointer;
}
